body{
color:white;
text-align: center;
background-color: black;


border: 60px solid;
border-top: 0px;
border-style:solid;

border-color: #1a535c;
margin: 0px;
}
.grey{
  background-color: #4ecdc4;
  margin:
}
p{
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

#submit{

border-radius: 25px;
 background: #FFAE42;
 padding: 20px;
 width: 150px;
 height: 65px;
}
.second{
  text-align: center;
  background-color:#4ecdc4;
}
